# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Root-level binary
/go-basic
bin/
.tools/
.cache/

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories
vendor/

# macOS
.DS_Store
